.container{
    width: 90vw;
    height:90vh;
    border: 1px solid black;
    margin: 20px auto;
    background: gray;
    border-radius: 5px;
}
.mb-3{
    margin: 10px 250px;
}
input{
    background: gray;
    border: 1px solid white;
    border-radius: 3px;
    outline: auto;
    cursor: pointer;
}
input::placeholder{
    color: white;
}
label{
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
h2{
    background: linear-gradient(to right,brown,red,brown,blue);
    color: transparent;
    background-clip: text;
}