 <!-- <div class="header">
  <div class="brand">
    <h3>Logo</h3>
  </div>
  <div class="nav">
    <a href="#">Home</a>
    <a href="#">Services</a>
    <a href="#">About</a>
    <a href="#">Products</a>
    <a href="#">Contact</a>

  </div>
</div>  -->
<!-- One Way binding in Angular  -->
<!-- <div class="header">
  <h3>{{heading}}</h3>
</div>
<div class="container">
  <div class="row">
    String Interpolation 
     <img src="{{images[0]}}" alt=""> 
  </div>
  <div class="row">
    Property binding
    <img [src]="images[1]" alt="">
  </div>
  <div class="row">
    Property binding
    <img [src]="images[2]" alt="">
  </div>
</div>
<div class="container" style="height: 100px;">
  <button (click)="action1()" [disabled]="button1">{{btn1}}</button>
  <button (click)="action2()" [disabled]="button2">{{btn2}}</button>
  <button (click)="action3()" [disabled]="button3">{{btn3}}</button>
  <p>{{result}}</p>
</div> -->

<!-- Two Way binding in Angular -->
<!-- <div class="container" style="height: 100px;">
  <input type="text" name="inputText" [(ngModel)]="inputText" placeholder="Enter Information">
  <p>{{inputText}}</p>
</div>
<div class="container" style="height: 100px;">
  <input type="text" #userInput placeholder="Enter Information">
  <button (click)="userClick(userInput.value)">Show Data</button>
  <p>{{inputText1}}</p>
</div> -->

<!-- Angular Dirctives -->
<app-ngstyle></app-ngstyle>