<!-- Attributes Directives -->
<!-- <div class="header">
  <h2>Angular Attributes Directives</h2>
</div>
<div class="search">
  <input type="text" [(ngModel)]="search" placeholder="search for anything">
  <button class=".enabled-button"
  [disabled]="!search"
  [ngClass]="{'enabled-button':search,'disabled-button':!search}">Search</button>
</div>
<p>Search For:{{search}}</p>

<div class="container">
</div> -->
<h2>Attributes Directives</h2>
<div class="container">
  <div class="card" *ngFor="let p of products">  
    <img src="{{p.image}}">
    <h3>{{p.name}}</h3>
    <div class="desc">
      <p class="mrp">MRP. 25000.00</p>
      <p [ngStyle]="{'background-color':isAvailable? 'green':'red','color':'white'}"
      style="padding: 5px;"
      >{{p.isAvailable?:'Available':'Not Available'}}</p>
      <div class="desc">
        <p>MRP. 25000.00</p>
        <button
        [ngClass]="{'add-to-card':p.isAvailable,'not-working':!p.isAvailable}"
        >Add to card</button>
    </div>
  </div>
</div>