<div class="container-fluid bg-gradient bg-info text-white text-center p-2">
  <h2>Template Driven Form In Angular</h2>
</div>
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
<div class="container">
  <div class="mb-3">
    <label class="form-lable">FirstName</label>
    <input type="text" class="form-control" placeholder="eg.Jhon" name="firstname" ngModel>
  </div>
  <div class="mb-3">
    <label class="form-lable">LastName</label>
    <input type="text" class="form-control" placeholder="eg.Sharma" name="lastname" ngModel>
  </div>
  <div class="mb-3">
    <label class="form-lable">Roll No</label>
    <input type="number" class="form-control" placeholder="eg.401" name="rollno" ngModel>
  </div>
  <div class="mb-3">
    <label class="form-lable">Branch</label>
    <input type="text" class="form-control" placeholder="eg.CSE" name="branch" ngModel>
  </div>
  <div class="mb-3">
    <label class="form-lable">Email</label>
    <input type="email" class="form-control" placeholder="eg.Jhon@gmail.com" name="emailadd" ngModel>
  </div>
  <div class="mb-3">
    <label class="form-lable">Password</label>
    <input type="password" class="form-control" placeholder="password" name="Password" ngModel>
  </div>
  <div class="mb-3 flex d-flex gap-2">
    <button class="btn btn-primary col-6" type="submit">Submit</button>
    <button class="btn btn-danger col-6" type="clear">Clear</button>
  </div>
</div>
</form>